body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
  }

/* Buttons */
  .actions {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .error-message {
    color: #ff5757;
    font-size: 14px;
  }

  .filter-btn a {
    margin-right: 8px;
    text-decoration: none;
  }
  /* End */

  .icon {
    vertical-align: middle;
    line-height: 1px;
    font-size: 20px;
  }
  .icon_header {
    vertical-align: middle;
    line-height: 1px;
    font-size: 26px;
  }
  .icon, .icon_header {
    margin-right: 5px;
  }
  .close_icon {
    color: #d50000;
    margin-left: 30px;
    margin-top: 10px;
    cursor: pointer;
  }

  /* ALL */
  .grid-container {
    display: grid;
    grid-template-columns: 260px 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas:
      'sidebar header header header'
      'sidebar main main main';
    height: 100vh;
    width: 100vw;
    font-family: 'Montserrat', sans-serif;
  }
  .tables {
    overflow-x: auto;
    padding: 20px;
    border: 2px solid #eaeaea;
    background-color: #fff;
  }

  /* END OF ALL */

  /* Main  */  
  .main-container {
    grid-area: main;
    overflow-y: auto;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
  }
  
  .main-title {
    display: flex;
    justify-content: space-between;
  }

  .main-container h3 {
    color: #1e1e1e;
  }

  /* Dashboard */
  .main-cards {
    height: 120px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    margin: 15px 0;
  }
  .card-div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 8px 15px;
    cursor: pointer;
    background-color: #fff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px
  4px 0px, rgba(99, 99, 99, 0.1) 0px -2px 8px 0px;
  }
  .card-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .card-inner > div {
    padding: 10px;
    border-radius: 50%;
  }
  .card-inner > div > .card_icon {
    font-size: 25px;
    color: #fff;
  }
  .charts,
  .activity {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 20px;
  }
  .activity .rabbit-added,
  .activity .recent-activity {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  }

/* AddRabbit */

.grid-container > .main-container > .form {
  gap: 20px;
  padding: 20px 20px 0px 20px;
  background-color: #fff;
  border: 2px solid #eaeaea;
}
.main-container .form > div{
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.main-container .form > div > h6 {
  color: rgba(0, 0, 0, 0.8);
}

/* Request */

.active {
  color: #007bff;
}

/* Client Profile and Admin Profile*/

/* .client-profile,
.admin-profile,
.edit-div {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 30px;
  background-color: #fff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px
  4px 0px, rgba(99, 99, 99, 0.1) 0px -2px 8px 0px;
}
.client-data {
  color: #1e1e1e;
} */

/* Pagination Styles */

.pagination {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.pagination li a {
  padding: 8px;
}

.pagination__link {
  margin: 0 5px;
  padding: 5px 0px;
  border: 1px solid #ccc;
  color: #333;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.pagination__link--active {
  background-color: #007bff;
  color: #fff;
}

.pagination__link--disabled {
  pointer-events: none;
  opacity: 0.5;
}

  /* EDIT RABBIT */

  .grid-container .main-container .edit-div {
    width: 100%;
    gap: 20px;
    padding: 20px;
    display: grid;
    align-items: start;
    grid-template-columns: 1fr 2fr;
    margin: 0;
    border: 2px solid #eaeaea;
    background-color: #fff;
    overflow-x: hidden;
  }
  .grid-container > .main-container > .edit-div > .rabbit-form > div {
    display: grid;
    margin-bottom: 20px;
    grid-template-columns: 1fr 2fr;
  }
  
  /* PROFILE */
.main-container .client-profile {
  display: grid;
  gap: 20px;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 4fr;
  padding: 30px 20px;
  background-color: #fff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px
  4px 0px, rgba(99, 99, 99, 0.1) 0px -2px 8px 0px;
}
.main-container .client-profile .client-data > div {
  display: grid;
  grid-template-columns: 1fr 2fr;
}


  /* ADD BREEDING */

.breed-ground {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 40px;
  border: 2px solid #eaeaea;
  background-color: #fff;
}

/* BREEDING DETAILS */

.details-div > div {
  display: grid;
  grid-template-columns: 1fr 1fr;

}
  
  /* Medium <= 992px */
    
  @media screen and (max-width: 992px) {
    .grid-container {
      grid-template-columns: 1fr;
      grid-template-rows: 0.2fr 3fr;
      grid-template-areas:
        'header'
        'main';
    }
  
    #sidebar {
      display: none;
    }
  
    .menu-icon {
      display: inline;
    }
  
    .sidebar-title > span {
      display: inline;
    }
  }
  /* Small <= 768px */
    
  @media screen and (max-width: 768px) {
    .main-cards {
      grid-template-columns: 1fr;
      gap: 10px;
      margin-bottom: 0;
    }
  
    .charts {
      grid-template-columns: 1fr;
      margin-top: 30px;
    }
  }
  
  /* Extra Small <= 576px */
  
  @media screen and (max-width: 576px) {
    .main-container {
      padding: 10px;
    }
    .hedaer-left {
      display: none;
    }
    #sidebar {
        width: 65%;
    }
    .profile-div {
      width: 100%;
    }
    .main-container form {
      width: 100%;
    }
    /* Dashboard */
    .bar-chart {
      margin-top: 305px;
    }
    .resp-chart {
      height: 100px;
    }
    .activity {
      grid-template-columns: 1fr;
    }
    /* Profile */
    .client-profile,
    .admin-profile,
    .edit-div {
      flex-direction: column;
}
    /* Edit Rabbit */
    .grid-container .main-container .edit-div {
      display: flex;
      flex-direction: column;
    }
    .grid-container > .main-container > .edit-div > .rabbit-form {
      width: 100%;
    }
    /* Rabbit List */
    .search-filter-div {
      gap: 10px;
      flex-direction: column;
    }
  }