*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
    font-family: 'Monserrat', sans-serif;
}
.error-message {
    color: red;
}
.loginPage {
    position: relative;
    width:100dvw;
    height:100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eaeaea;
    background-image: url(../images/1.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}
.loginPage .container {
    width: 400px;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.brand-name {
    top: 30px;
    left: 35px;
    position: absolute;
    font-weight: 600;
    cursor: pointer;
    background: linear-gradient(to right, #5cb85c, #00828c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Poppins', sans-serif;
}
.loginPage .container .form {
    gap: 10px;
    width: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
}
.login-title {
    align-self: center;
    background: linear-gradient(to right, #5cb85c, #00828c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Poppins', sans-serif;
}
.loginPage .container .form div a {
    color: #00828c;
    text-decoration: none;
}
/* INPUTS */
.inputs {
    display: flex;
    flex-direction: column;
}
.inputs .input label {
    left: 15px;
    padding: 0 2px;
    position: absolute;
    color: #797979;
    background-color: #ffffff;
    transition: .3s;
    pointer-events: none;
    top: 10px;
}
.inputs .input {
    width: 100%;
    position: relative;
    height: 45px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    border: 2px solid #eaeaea;
    background-color: transparent;
}
.input input:focus~label,
.input input:valid~label {
    top: -12px;
    color: #00828c;
}
.inputs .input .icons {
    position: absolute;
    right: 8px;
    font-size: 16px;
    color: #797979;
}
.inputs .input input {
    width: 100%;
    font-size: 14px;
    padding: 15px 38px 15px 15px;
    background-color: transparent;
    border: none;
    outline: none;
    color: #111111;
}
.submit {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    height: 40px;
    margin-top: 20px;
    background-color: #00828c;
    border: 2px solid #00828c;
    border-radius: 5px;
    color: #fff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 4px 0px, rgba(99, 99, 99, 0.1) 0px -2px 8px 0px;
}
.coolinput {
    display: flex;
    flex-direction: column;
    width: fit-content;
    position: static;
    width: 100%;
}
.coolinput label.text {
    font-size: 16px;
    position: relative;
    top: 13px;
    margin: 0 0 0 10px;
    padding: 0 3px;
    background: #00BFA6;
    width: fit-content;
}
.coolinput input[type=text].input,
.coolinput input[type=email].input,
.coolinput input[type=password].input {
    width: 100%;
    font-size: 16px;
    letter-spacing: 1px;
    border-radius: 5px;
    background: transparent;
}
.coolinput input[type=text].input:focus,
.coolinput input[type=email].input:focus,
.coolinput input[type=password].input:focus {
    outline: none;
}








@media screen and (max-width: 576px) {
    .loginPage {
    }
    .loginPage .container {
        grid-template-columns: 1fr;
        width: 100%;
    }
    .welcome-div {
        display: none;
    }
    .loginPage .container .form {
        width: 100%;
        padding: 20px 10px;
    }
    .loginPage .container .form .login-title {
        margin-bottom: 0;
    }
    .email {
        margin-top: 70px;
    }
}