*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
    font-family: 'Monserrat', sans-serif;
}
.error-message {
    color: red;
}
.loginPage {
    width:100%;
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eaeaea;
}
.loginPage .container {
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    width: 60%;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.welcome-div h2 {
    color: #00BFA6;
}
.welcome-div > img {
    width: 350px;
}
.welcome-div {
    gap: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;

}
.loginPage .container .inputDiv {
    margin-top: 15px;
}
.inputDiv label {
    font-size: 16px;
    margin-bottom: 5px;
}
.loginPage .container .form {
    padding: 50px 40px;
    gap: 10px;
    color: #fff;
    display: flex;
    flex-direction: column;
    background-color: #00BFA6;
}
.loginPage .container .form > img {
    width: 200px;
    align-self: center;
    margin-top: -100px;
    background-color: #fff;
}
.login-title {
    align-self: center;
    color: #fff;
}
.input {
    display: flex;
    align-items: center;
    width: 300px;
    height: 40px;
    background-color: #eaeaea;
}
.input input {
    width: 85%;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    color: #111111;
}
.input .icons {
    margin: 0px 8px;
}
.login-btn, .register-btn {
    margin: 25px 0px 15px 0px;
    width: 300px;
    height: 40px;
    font-size: 16px;
    color: #111111;
    border: 2px solid #00828c;
    border-radius: 0;
    font-weight: 500;
}
.login-btn:hover {
    border: 2px solid #00828c;
    color: #00828c;
}
.register-btn:hover {
    border: 2px solid #00828c;
    color: #00828c;
}
.loginPage .container .form div a {
    color: #00828c;
    text-decoration: none;
}

/* INPUTS */

.coolinput {
    display: flex;
    flex-direction: column;
    width: fit-content;
    color: #fff;
    position: static;
    width: 100%;
}
.coolinput label.text {
    font-size: 16px;
    position: relative;
    top: 13px;
    margin: 0 0 0 10px;
    padding: 0 3px;
    background: #00BFA6;
    width: fit-content;
}
.coolinput input[type=text].input,
.coolinput input[type=email].input,
.coolinput input[type=password].input {
    width: 100%;
    padding: 11px 11px;
    font-size: 16px;
    color: #fff;
    letter-spacing: 1px;
    border: 2px solid #fff;
    border-radius: 5px;
    background: transparent;
}
.coolinput input[type=text].input:focus,
.coolinput input[type=email].input:focus,
.coolinput input[type=password].input:focus {
    outline: none;
}








@media screen and (max-width: 576px) {
    .loginPage {
    }
    .loginPage .container {
        grid-template-columns: 1fr;
        width: 100%;
    }
    .welcome-div {
        display: none;
    }
    .loginPage .container .form {
        width: 100%;
        padding: 20px 10px;
    }
    .loginPage .container .form .login-title {
        margin-bottom: 0;
    }
    .email {
        margin-top: 70px;
    }
}