@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Nunito+Sans:opsz,wght@6..12,300&family=Poppins:wght@200;300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html {
    font-size: 90%;
}
a {
    text-decoration: none;
}

/* MAIN */
.main-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #eaeaea;
}
.adopt-div,
.contact-div,
.about-div,
.rabbit-data-div,
.form-div {
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    background-color: #fff;
}
/* HOME */
.home-div {
    width: 50%;
    padding: 40px 20px 20px 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #fff;
}
.home-div p {
    font-size: 18px;
}
.home-div img {
    width: 100%;
}
.brandname {
    margin-top: 100px;
    font-size: 3.5rem;
}
.search-input {
    width: 50%;
}
.home-div .rabbit-home {
    width: 100%;
}
.home-div a {
    text-decoration: none;
    font-size: 24px;
}
.home-div .adoptbtn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 260px;
    height: 60px;
    text-align: center;
    background-color: #EC7D20;
    color: #fff;
    border-radius: 50px;
    cursor: pointer;
}
.home-div .last-div {
    display: flex;
    flex-direction: column;
}
.home-div .last-div img {
    width: 100%;
}
.home-body {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
}
.home-body > div > img {
    width: 100%;
}
.email {
    color: #00828c;
}

/* ADOPT */
.adopt-div {
    width: 50%;
    padding: 40px 20px 20px 20px;
}
.rehome-div h2 {
    margin-bottom: 50px;
}
.search-input {
    padding: 2px;
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.search-input>span {
    background-color: #00828c;
    width: 120px;
    padding: 8px;
    color: #fff;
    text-align: center;
}
.search-input>input {
    width: 100%;
    height: 38px;
    border: 2px solid #eaeaea;
    font-size: 16px;
    padding: 4px;
}
.rabbitList {
    gap: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.btn-toHIde {
    display: none;
}
.see-details {
    border: 2px solid #fff;
    color: #fff;
}
.see-details:hover {
    border: 2px solid #fff;
}

/* CONTACT */
.contact-div {
    height: 90vh;
    padding: 40px 20px 0px 20px;
}
.contact-div > h2 {
    font-weight: 600;
}
.contact-div > div > h2 {
    font-weight: 600;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.contact-div div {
    margin-bottom: 35px;
}
.main-div .rabbit-contact {

    height: 300px;
    position: absolute;
    bottom: 60px;
    right: 150px;
}

/* ABOUT */
.main-div {
    position: relative;
}
.about-div {
    padding: 40px 20px 20px 20px;
}
.about-div > h2 {
    font-weight: 600;
}
.about-div > div > p {
    font-size: 18px;
}
.about-div > div > h2 {
    font-weight: 600;
}
.about-div > div > h4 {
    font-weight: 600;
}
.about-div .content {
    display: flex;
    flex-direction: column;
}
.rabbit-about {
    height: 350px;
    position: absolute;
    right: 300px;
    bottom: 70px;
}

/* ADOPT FORM */
.error {
    color: #ff5757;
}
.main-div .form-div {
    position: relative;
    padding: 20px 20px 0px 20px;
    width: 50%;
    display: flex;
    justify-content: center;
    border: 2px solid #eaeaea;
}
.main-div .form-div .label-name {
    margin-top: 20px;
}
.main-div .form-div form h4{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 20px;
}
.address {
    gap: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.cancel {
    margin-right: 20px;
}
.errmsg {
    color: red;
}

/* ABOUT RABBIT */
.rabbit-data-div {
    display: flex;
    justify-content: center;
    align-items: center;
}
.cards {
    width: 60%;
    padding: 20px;
}
.back {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 14px;
    color: #111111;
    margin: 0px 15px 20px 0;
}
.back>.icons {
    width: 20px;
    font-size: 18px;
    margin-right: 10px;
}
.cards .img-div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #797979;
    margin-bottom: 20px;
}
.cards img {
    width: 70%;
    align-content: center;
}
.cards-title {
    font-size: 24px;
}
.rabbitDetails div {
    width: 40%;
    margin-right: 50px;
}
.rabbitData-container div img {
    margin-bottom: 20px;
    width: 50%;
    height: 50%;
    border: 2px solid #00828c;
}
.apply-btn {
    margin-top: 20px;
    border: 2px solid #00828c;
    color: #00828c;
}
.apply-btn:hover {
    border: 2px solid #00828c;
    background-color: #00828c;
    color: #fff;
}
.data-div {
    display: flex;
}
.data-div > div {
    width: 25%;
}

/* APPLICATION */
.application-div {
    width: 50%;
    height: 90vh;
    padding: 40px 20px 20px 20px;
    background-color: #fff;
}
.application-div table {
    border: 2px solid #eaeaea;
}
.application-div > h1 {
    margin: 20px 0px 10px 0px;
}
.action-btn {
    gap: 15px;
    display: flex;
}
.action-btn button {
    margin-right: 8px;
}
.image-div {
    display: flex;
    justify-content: center;
}
.image-div > img {
    width: 60%;
}
 /* PROFILE */
 .profile-div {
    width: 50%;
    height: 100vh;
    padding: 40px 20px 20px 20px;
    background-color: #fff;
}
.profile-div .client-info {
    margin-top: 40px;
}
.profile-div .client-info div {
    display: grid;
    grid-template-columns: 1fr 2fr;
}






@media (max-width: 480px) {
    .home-div,
    .adopt-div,
    .contact-div,
    .about-div {
        gap: 0;
        width: 100%;
        padding: 20px;
        margin-top: 0;
        margin-bottom: 0;
    }
    /* Home */
    .home-div {
        padding: 20px 10px 10px 10px;
    }
    .rabbit-home {
    }
    .rabbit-home::after {
        width: 10%;
        height: 10%;
    }
    .floating {
        font-size: 26px;
        top: 35%;
        left: 7%;
    }
    .home-body {
        display: flex;
        flex-direction: column;
    }
    .home-body>div {
        padding: 0;
        width: 100%;
    }
    .home-div .adoptbtn {
        font-size: 18px;
    }
    .related-business {
        margin-top: 20px;
    }
    .home-body>div>img {
        width: 100%;
    }
    .home-div .last-div h5 {
        align-self: self-start;
    }
    /* Contact */
    .contact-div {
        height: 100vh;
        margin-bottom: 0;
        padding-bottom: 0;
    }
    .contact-div h2 {
        font-size: 20px;
    }
    .contact-div h4 {
        font-size: 18px;
    }
    .main-div .rabbit-contact {
        display: none;
    }
    .haveQuestion {
        padding: 0;
        margin-top: 50px;
    }
    /* About */
    .about-div h2 {
        font-size: 20px;
    }
    .about-div .content h2 {
        font-size: 20px;
    }
    .about-div .content p{
        font-size: 18px;
    }
    .main-div .about-div .rabbit-about {
        display: none;
    }
    /* Adopt */
    .adopt-div {
    width: 100dvw;
    padding: 10px;
    }
    .adopt-div .rabbitList {
        padding: 0;
        gap: 10px;
        display: grid;
        justify-content: center;
        grid-template-columns: 1fr 1fr;
    }
    .search-input {
        width: 100%;
    }

    /* RAbbitData */
    .rabbit-data-div {
        width: 100%;
    }
    .cards {
        width: 100%;
        margin-top: 0;
    }

    /* AdoptForm */
    .main-div .form-div {
        width: 100%;
        padding: 10px;
        margin-top: 0;

    }
    .main-div .form-div form h4 {
        padding: 10px;
        background-color: #fff;
        color: #1e1e1e;
        border-bottom: 2px solid #eaeaea;
    }
    /* Application */
    .application-div {
        width: 100vw;
        padding: 10px;
        margin-top: 0;
    }

}